<style>
  html,
  body,
  .default {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
  }
  .content {
    position: absolute;
    top: 50%;
    height: 64px;
    margin-top: -32px; /* negative half of the height */
    width: 100%;
  }
  .link {
    display: block;
    margin: 0 auto;
    width: 250px;
    padding: 17px 35px 20px;
    background-color: #DD4B39;
    color: #fff;
    text-decoration: none;
    border-radius: 2px;
    text-align: center;
    font-size: 20px;
    font-family: Roboto, 'Helvetica Neue', Helvetica, sans-serif;

    -webkit-animation: slideDown 1s;
    -moz-animation: slideDown 1s;
    animation: slideDown 1s;
  }
  .link:hover {
    background-color: #e7382e;
  }
  .link:active {
    position: relative;
    top: 1px;
  }

  @-webkit-keyframes slideDown {
    0% {
      -webkit-transform: translateY(-100px);
      opacity: 0; }

    50% {
      opacity: 1; }

    100% {
      -webkit-transform: translateY(0); } }
  @-moz-keyframes slideDown {
    0% {
      -moz-transform: translateY(-100px);
      opacity: 0; }

    50% {
      opacity: 1; }

    100% {
      -moz-transform: translateY(0); } }
  @-o-keyframes slideDown {
    0% {
      -o-transform: translateY(-100px);
      opacity: 0; }

    50% {
      opacity: 1; }

    100% {
      -o-transform: translateY(0); } }
  @keyframes slideDown {
    0% {
      transform: translateY(-100px);
      opacity: 0; }

    50% {
      opacity: 1; }

    100% {
      transform: translateY(0); } }

  .app-logo {
    position: absolute;
    bottom: 20%;
    left: 50%;
    margin-left: -64.5px;
    background-image: url(/static/img/scout-logo-bw.png);
    background-size: 129px 50px;
    background-repeat: no-repeat;
    height: 50px;
    width: 129px;
  }

  .hidden {
    display: none;
  }

  p {
    font-family: Roboto, "Helvetica Neue", Helvetica, sans-serif;
    text-align: center;
    margin-bottom: 15px;
  }

  .warning-browser {
    font-weight: bold;
    color: #C73131;
  }

  .green {
    color: #26a14d;
    font-weight: bold;
  }

  .logo {
    width: 150px;
    margin: 50px auto;
  }

</style>

<div class="default">
  <div class="content">
    <a class="link" href="{{ url_for('login') }}">Connect with Google</a>
  </div>

  <div class="app-logo"></div>
</div>

<div class="warning hidden">
  <div class="content">
    <p class="warning-text">You are using an old, unsupported browser (<span class="warning-browser"></span>)</p>
    <p>Please upgrade to <a class="green" href="https://www.google.com/intl/en/chrome/browser/">Chrome</a>, <a class="green" href="http://www.mozilla.org/en-US/firefox/new/#">Firefox</a>, or <a class="green" href="http://support.apple.com/downloads/#safari">Safari</a>.</p>

    <div class="logo chrome">
      <img src="/static/img/chrome.png">
    </div>
  </div>
</div>

<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
<script>
  navigator.sayswho = (function() {
    var ua = navigator.userAgent, tem,
        M = ua.match(/(opera|chrome|safari|firefox|msie|trident(?=\/))\/?\s*([\d\.]+)/i) || [];
    if (/trident/i.test(M[1])) {
        tem = /\brv[ :]+(\d+(\.\d+)?)/g.exec(ua) || [];
        return 'IE ' + (tem[1] || '');
    }
    M = M[2]? [M[1], M[2]]:[navigator.appName, navigator.appVersion, '-?'];
    if ((tem = ua.match(/version\/([\.\d]+)/i)) !== null) M[2]= tem[1];
    return M.join(' ');
  })();

  var res = navigator.sayswho.split(' '),
      browser = res[0],
      version = parseInt(res[1]);

  if (browser == 'IE' && version < 9) {
    $('.default').addClass('hidden');
    $('.warning-browser').html(navigator.sayswho);
    $('.warning').removeClass('hidden');
  }
</script>
