/* =Kyoo Tooltip style
/* You may grab the code from here on
/* ----------------------------------- */

/* Tooltip wrapper -------*/
/* Add this class to HTML element you so desire Kyoo Tooltip to appear */
.kyoo-tooltip {
  position: relative;
}
.kyoo-tooltip .kyootip {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  z-index: 99999;
  /* Somehow this prevents the tooltip from displaying */
  /* Not sure if it's Chrome or CodePen */
  /*-webkit-transition: .3s ease-in-out;
  -moz-transition: .3s ease-in-out;
  -o-transition: .3s ease-in-out;
  transition: 0.3s; */
}
.kyoo-tooltip:hover .kyootip {
  opacity: 1;
  visibility: visible;
}

/* Kyoo Tooltip base style -------*/
.kyootip {
  background-color: #222;
  color: #fff;
  font: normal 12px/16px Arial;
  padding: 6px 10px;
  position: absolute;
  text-align: center;
  text-decoration: none;
  text-shadow: none;
  z-index: 4;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0 2px 8px rgba(0,0,0,0.2);
  -moz-box-shadow: 0 2px 8px rgba(0,0,0,0.2);
  -o-box-shadow: 0 2px 8px rgba(0,0,0,0.2);
  box-shadow: 0 2px 8px rgba(0,0,0,0.2);
}
  .kyootip:after {
    content: " ";
    font-size: 0;
    line-height: 0;
    position: absolute;
    width: 0;
    z-index: 1;
  }


/* Top position style -------*/
.kyootip--top {
  bottom: 130%;
  left: 50%;
  margin-bottom: -10px;
  margin-left: -60px;
  width: 100px;
}
  /* Tooltip arrow */
  .kyootip--top:after {
    border-top: 5px solid #222;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    bottom: -5px;
    left: 50%;
    margin-left: -5px;
  }
  /* When hovered, move tooltip at the bottom */
  .kyoo-tooltip:hover .kyootip--top {
    margin-bottom: 0;
  }


/* Right position style -------*/
.kyootip--right {
  left: 100%;
  margin-left: -5px;
  top: -5px;
  width: 100px;
}
  /* Tooltip arrow */
  .kyootip--right:after {
    border-top: 5px solid transparent;
    border-right: 5px solid #222;
    border-bottom: 5px solid transparent;
    left: -5px; /* Offset value to pull to the left */
    margin-top: -5px;
    top: 50%;
  }
  /* When hovered, move tooltip a bit to the right */
  .kyoo-tooltip:hover .kyootip--right {
    margin-left: 10px;
  }


.kyootip--bottom {
  top: 130%;
  left: 50%;
  margin-top: -10px;
  margin-left: -60px;
  width: 100px;
}
  /* Tooltip arrow */
  .kyootip--bottom:after {
    border-bottom: 5px solid #222;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    top: -5px;
    left: 50%;
    margin-left: -5px;
  }
  /* When hovered, move tooltip at the bottom */
  .kyoo-tooltip:hover .kyootip--bottom {
    margin-top: 0;
  }


/* Left position style -------*/
.kyootip--left {
  right: 100%;
  margin-right: -5px;
  top: -5px;
  width: 100px;
}
  /* Tooltip arrow */
  .kyootip--left:after {
    border-top: 5px solid transparent;
    border-left: 5px solid #222;
    border-bottom: 5px solid transparent;
    margin-top: -5px;
    right: -5px; /* Offset value to pull to the right */
    top: 50%;
  }
  /* When hovered, move tooltip a bit to the right */
  .kyoo-tooltip:hover .kyootip--left {
    margin-right: 10px;
  }
