# Mac OS X hidden files
.DS_Store
 
*.py[cod]
 
# C extensions
*.so
 
# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64
 
# Installer logs
pip-log.txt
 
# Unit test / coverage reports
.coverage
.tox
nosetests.xml
 
# Translations
*.mo
 
# Mr Developer
.mr.developer.cfg
.project
.pydevproject
.tmp
DEV
node_modules
dev-server

*.py[cod]

# Databses
*.sqlite*

# Docs
docs/_build

# Secrets
scout/secrets.py

# Bower
client/static/js/vendor

# SASS
.sass-cache
client/styles/vendor/*

# Static files in Flask
scout/static/styles/*
scout/static/js/*
scout/static/img/*
