// +-------------------------------------------------------------------+
// |   __                 _
// |  / _\ ___ ___  _   _| |_
// |  \ \ / __/ _ \| | | | __|
// |  _\ \ (__ (_) | |_| | |_        (c) by Robin Andeer
// |  \__/\___\___/ \__,_|\__|
// |
// +-------------------------------------------------------------------+

// +-------------------------------------------------------------------+
// |  Vendor libraries
// +-------------------------------------------------------------------+
// Bourbon
@import 'vendor/bourbon/bourbon';
// Mixins for the newer flex-box specs
@import 'framework/flex-box';

// +-------------------------------------------------------------------+
// |  Variables
// +-------------------------------------------------------------------+
@import 'framework/variables';

// +-------------------------------------------------------------------+
// |  Mixins
// +-------------------------------------------------------------------+
@import 'framework/mixins';

// +-------------------------------------------------------------------+
// |  Basics & Resets
// +-------------------------------------------------------------------+
@import 'framework/basics';

// +-------------------------------------------------------------------+
// |  Typography
// +-------------------------------------------------------------------+
@import 'framework/typography';

// +-------------------------------------------------------------------+
// |  Components
// +-------------------------------------------------------------------+
@import 'components/panel';
@import 'components/btn';
@import 'components/bar';
@import 'components/list';
@import 'components/column';
@import 'components/header-footer';
@import 'components/form-complex';
@import 'components/comment-box';
@import 'components/predict';
@import 'components/form-complex';
@import 'components/tab';

// +-------------------------------------------------------------------+
// |  Utility classes
// +-------------------------------------------------------------------+
// Automatically adds some margin to the bottom
.mb {
  margin-bottom: 15px;
}

.mt {
  margin-top: 15px;
}

.mr {
  margin-right: 15px;
}

.no-border {
  border: 0;
}

.dotdotdot {
  @include dotdotdot;
}

.small,
%small {
  font-size: 12px;
}

.medium,
%medium {
  font-size: 14px;
}

.large,
%large {
  font-size: 20px;
}

%regular,
.regular {
  padding: 15px;
}

.regular--stretched {
  @extend %regular;
  padding-top: 5px;
  padding-bottom: 5px;
}

%slim,
.slim {
  padding: 5px;
}

.slim--stretched {
  @extend %slim;
  padding-top: 3px;
  padding-bottom: 3px; 
}

%relaxed,
.relaxed {
  padding: 25px;
}

.relaxed--stretched {
  @extend %relaxed;
  padding-top: 10px;
  padding-bottom: 10px; 
}

// Color background pitch black
.bg--black {
  background: black;
}

// Use a paragraph as title
.p--title {
  font-weight: bold;
  margin-bottom: 5px;
  margin-top: 30px;

  &:first-child {
    margin-top: 0;
  }
}

// UNDO dotdotdot
.scrollable {
  text-overflow: clip;
  overflow-x: auto !important;
}

.full-width {
  width: 100%;
}

.center-center,
%center-center {
  @extend %fill-up;

  @include display(flex);
  @include justify-content(center);
  @include align-items(center);
}

.center-vertical {
  @extend %fill-up;
  @include display(flex);
  @include align-items(center);
}

.center-horizontal {
  @extend %fill-up;
  @include display(flex);
  @include flex-direction(column);
  @include flex-wrap(wrap);
  @include align-items(center);
}

// Set the flex direction to 'column' (vertical)
.flex-column {
  @include display(flex);
  @include flex-direction(column);
}

.just-line {
  margin: 0;
  padding: 0;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

// +-------------------------------------------------------------------+
// |  Non-standardized component styles
// +-------------------------------------------------------------------+
.list__item {
  border-bottom: 1px solid $dark-gray;

  &:last-of-type {
    border-bottom: 0;
  }

  &:hover {
    background-color: rgba(#000, 0.03);
  }
}

.menu__item {
  // Required
  cursor: pointer;
  display: block;  // Something other than 'inline'
  padding: 15px;
  position: relative;

  // Default syles
  color: #6ba0d3;
  border-width: 1px;
  border-top-color: #273742;
  border-bottom-color: #12191e;
  border-top-style: solid;
  border-bottom-style: solid;

  &:hover {
    color: #74b0e9;
    background-color: rgba(#fff, 0.1);

    .menu__item__label {
      display: block;
    }
  }

  &:active {
    position: relative;
    top: 1px;
    color: #6193c3;
  }
}

.menu__item__icon {
  width: 40px;
  height: 40px;
  margin: 0 auto;

  img {
    width: 100%;
    height: 100%;
  }
}

.menu__item__label {
  background: #000;
  display: none;
  font-size: 1.3rem;
  padding: 6px 7px 7px;
  z-index: 10;

  position: absolute;
  left: 0;
  bottom: 0;
}

.filter--pass {
  background-color: rgba($flat-green-1, .05);
}

.filter--fail {
  background-color: rgba($flat-red-1, .05);
}

.filter--blue {
  background-color: rgba($flat-blue-1, .05);
}

// MODAL
.modal__wrapper {
  @extend %center-center;
}

.modal {
  min-width: 550px;
  margin: 10px auto;
  background-color: #fff;
  padding: 30px;
  border-radius: 2px;
}

.modal__overlay {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  background-color: rgba(#0d000d, 0.7);
}

// +-------------------------------------------------------------------+
// |  App specific styles
// +-------------------------------------------------------------------+
// Root Ember.js div
.app {
  @extend %fill-up;
}

textarea {
  min-height: 200px;
}

.panel {
  overflow-x: hidden;
}

.variant-panel {
  border-left: 1px solid $dark-gray;
}

// Menu
.panel__menu--footer {
  position: absolute;
  bottom: 100px;
  left: -47px;
  color: rgba(#fff, 0.7);
  @include transform(rotate(-90deg));
}

// Families
.families-panel {
  > .header-footer__body {
    padding-top: 50px;
  }
}

.families-links-buttons {
  > .btn {
    min-width: 120px;
  }
}

// Family
$family-header-height: 50px;
.family-header {
  height: $family-header-height;
}

.family-panel {
  > .header-footer__body {
    padding-top: $family-header-height + 30px;
  }
}

.family-id {
  font-size: 2.5rem;
  color: $flat-green-2;
}

.family-body {
  > div {
    margin-left: auto;
    margin-right: auto;
  }
}

.family-comments-panel {
  textarea {
    min-height: 150px;
  }
}

.family-comment {
  margin: 20px auto;
  max-width: 500px;
}

.regular-width {
  max-width: 960px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 30px;
}

.pedigree-table {
  overflow: auto;
  max-width: 960px;
  margin-right: 0 auto;

  td {
    min-width: 100px;
  }
}

// Variants
.variants-panel {
  > .header-footer__wrapper--overlay {
    > .header-footer__body {
      padding-top: 64px;
    }
  }

  &.panel--sidebar {
    min-width: 200px;
    background-color: darken(#fff, 3%);

    > .header-footer__wrapper--overlay {
      > .header-footer__body {
        padding-top: 57px;
      }
    }
  }
}

.static-filter-panel-body-list {
  padding-bottom: 37px;
}

.variants-list {
  line-height: 20px;
  border-bottom: 1px solid $dark-gray;
  // Correction
  overflow-x: hidden;
}

.rank-score-column {
  border-right: 1px solid #d8dae3 !important;

  &:visited {
    color: $flat-gray-2;
  }

  &.active {
    background-color: $flat-blue-1;
    color: #fff;
  }
}

.inheritance-model-cell {
  padding-left: 10px;
}

.cell {
  float: left;
  border-right: 1px solid $dark-gray;
  min-width: 50px;

  &:first-of-type {
    padding-left: 0;
  }
  &:last-of-type {
    border-right: 0;
  }
}

.pop-over {
  cursor: help;
}

.undef {
  background-color: rgba(#000, .02);
}

.always-visible-text {
  color: $base-font-color;
}

.column, .column--small, .column--mini, .column--medium, td {
  &.undef {
    color: rgba(#000, 0);
  }
}

.hide-variant-btn {
  line-height: 1;
  height: 20px;
}

.notification,
%notification {
  line-height: 1;
  background: darken($dark-gray, 10%);
  color: #fff;
  border-radius: 25px;
  text-align: center;
  padding-top: 3px;
  padding-bottom: 3px;
  width: 20px;
  font-size: 10px;
  line-height: 13px;
}

.notification--bubble {
  @extend %notification;
  background-color: $flat-green-2;
  color: rgba(#000, 0);
  width: 12px;
  height: 12px;
  box-shadow: 0px 0px 5px $flat-green-1;
  cursor: pointer;

  &.LOW,
  &.is-found {
    background-color: darken($flat-yellow-1, 2%);
    box-shadow: 0px 0px 5px $flat-yellow-1;
  }

  &.MIDDLE {
    background-color: $flat-orange-2;
    box-shadow: 0px 0px 5px $flat-orange-1;
  }

  &.TOP,
  &.is-common {
    background-color: $flat-red-2;
    box-shadow: 0px 0px 5px $flat-red-1;
  }
}

.fixed-tooltip {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  background-color: lighten($flat-gray-1, 3%);
  border-top: 1px solid rgba(#000, .15);
  box-shadow: 0 -2px 4px -4px rgba(#000, .4);

  > table {
    table-layout: auto;

    td, th {
      border-color: darken($dark-gray, 5%);
      min-width: 50px;
    }
  }
}

.filter-panel {
  .panel {
    border-right: 1px solid $dark-gray;
  }
}

// Variant
.variant-header {
  > div {
    @include display(flex);
    @include align-items(center);
    @include flex-wrap(wrap);
    height: 50px;
  }

  ~ .header-footer__body {
    padding-top: 80px;
  }
}

.variant__body {
  padding-right: 50px;
  padding-left: 50px;
}

.variant-comments-panel {
  height: 300px;
}

.logo--omim {
  font-family: "Palatino Linotype";
  font-weight: bold;
  color: #2A6936;
  font-size: 25px;
}

.annotate-table {
  th {
    width: 150px;
  }
}

.link {
  text-decoration: none;
  padding: 10px 25px;

  &:hover {
    background-color: rgba(#000, .015);
    padding: 9px 24px;
    border-radius: 10px;
    border: 1px solid $light-gray;
  }
}

.link__text {
  text-align: center;
  margin-top: 10px;
}

.annotations {
  .panel {
    border: 0;
  }
}

// Issue
.issue-sidebar {
  min-width: 400px;
  border-right: 1px solid $dark-gray;
}

// bs-popover
.bs-popover {
  position: absolute;
  right: -200px;
  top: -50px;
  background: white;
  padding: 10px;
  width: 200px;
  z-index: 9999;
  border: 1px solid $dark-gray;
  box-shadow: 0 1px 2px rgba(#000, .2);
}

.bs-popover__wrapper {
  position: relative;
  overflow: visible;
}
