/* ========================================================
    The main config-file that includes all mixins and
    global variables.

    The idea is that this file should be possible to *each*
    SCSS-file without affecting the output.
   -------------------------------------------------------- */

// Import from Bourbon
@import "bourbon/bourbon";
// Import mixins for the newer flex-box specs
@import "flex-box";
// Import the colors from: http://flatuicolors.com/
@import "flat-colors";

// Additional mixins

/* ========================================================
    dotdotdot - Replaces ending of text with "..." when it
    no longer fits in the container element.

    Usage:

      .text-container {
        @include dotdotdot; }

   -------------------------------------------------------- */
@mixin dotdotdot {
  white-space: nowrap;

  // Just in case
  max-width: 100%;

  // "overflow" value must be different from "visible"
  overflow: hidden;

  // This is where the magic happens
  text-overflow: ellipsis; }

/* ========================================================
    hyphens - Enables hyphenation for text. Possible
    parameters are "auto", and "manual" (default).

    Usage:

      .text-container {
        @include hyphens(auto); }

   -------------------------------------------------------- */
@mixin hyphens($value: "manual") {
  @each $prefix in -webkit-, -moz-, -o-, "" {
    #{$prefix}hyphens: $value;
  }
  -webkit-hyphenate-character: "\2010";
  -webkit-hyphenate-limit-after: 1;
  -webkit-hyphenate-limit-before: 3; }

/* ========================================================
    Media queries shortcut. Customize the breakpoints to
    suit your project.

    Usage:

      .sidebar {
        float: left;
        width: 300px;
        @include respond-to(handhelds) { float: none; }
        @include respond-to(wide-handhelds) { float: none; }
        @include respond-to(tablets) { width: 240px; }}

   -------------------------------------------------------- */

@mixin respond-to($media) {
  @if $media == handhelds {
    @media only screen and (max-width: 479px) {
      @content; }}

  @else if $media == wide-handhelds {
    @media only screen and (min-width: 480px) and (max-width: 767px) {
      @content; }}

  @else if $media == tablets {
    @media only screen and (min-width: 768px) and (max-width: 959px) {
      @content; }}}

/* ========================================================
    WebKit font-smoothing - controvertial option, use
    responsibly!

    Values: none, antialiased (default), subpixel-antialiased

    References:
      1. http://maxvoltar.com/sandbox/fontsmoothing/
      2. http://maxvoltar.com/archive/-webkit-font-smoothing

   -------------------------------------------------------- */ 
@mixin font-smoothing($value: antialiased) {
  -webkit-font-smoothing: $value; }
