<table class="table--auto">
  <thead>
    <tr>
      <th class="slim--stretched">Combined score</th>
      <th class="slim--stretched">Reference allele</th>
      <th class="slim--stretched">Alternative allele</th>
    </tr>
  </thead>

  <tbody>
  {{#each compound in model}}
    <tr>
    <td class="text-center">
      {{#link-to "variant" variant}}{{compound.combinedScore}}{{/link-to}}
    </td>
    <td class="slim">{{compound.refNt}}</td>
    <td class="slim">{{compound.altNt}}</td>
    </tr>
  {{/each}}
  </tbody>
</table>