<div class="panel settings-panel">
  <div class="center-center">
    <div class="btn-group">
      <div {{action "resetHidden" "family"}} class="btn">
        <div class="btn__body relaxed--stretched large">Reset hidden families</div>
      </div>
      <div {{action "resetHidden" "variant"}} class="btn">
        <div class="btn__body relaxed--stretched large">Reset hidden variants</div>
      </div>
    </div>{{! END btn-group }}
  </div>{{! END center-center }}
</div>
