<div class="panel settings">
  <div class="panel__body settings-body">
    <div class="center-center box">
      <div class="btn-group">
        <div {{action "resetHidden" "family"}} class="btn">
          <div class="btn__body">Reset hidden families</div>
        </div>
        <div {{action "resetHidden" "variant"}} class="btn">
          <div class="btn__body">Reset hidden variants</div>
        </div>
      </div>{{! END btn-group }}
    </div>{{! END center-center }}
  </div>{{! END panel__body }}
</div>
