pre, .pre--scrollable {
  -webkit-overflow-scrolling: touch; }

html,
body, .panel__wrapper {
  width: 100%;
  height: 100%; }

.panel__overlay--header, .panel__overlay--footer {
  background-color: #fff;
  background-color: rgba(255, 255, 255, 0.98); }

.space-between {
  display: -webkit-flex;
  display: -moz-flex;
  display: flex;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  justify-content: space-between; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0; }

.cf:before,
.cf:after {
  content: " ";
  display: table; }

.cf:after {
  clear: both; }

.cf {
  *zoom: 1; }

body {
  background-color: white; }

.center-text {
  text-align: center; }

.right-text {
  text-align: right; }

body,
html {
  color: #333333;
  font-family: Roboto, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 1em;
  line-height: 1.5em; }

h1, h2, h3, h4, h5, h6 {
  text-rendering: optimizeLegibility;
  margin: 0;
  line-height: 1.25em;
  font-weight: 200; }

h1 {
  font-size: 3em; }

h2 {
  font-size: 2.75em; }

h3 {
  font-size: 2.5em; }

h4 {
  font-size: 2.25em; }

h5 {
  font-size: 2em; }

h6 {
  font-size: 1.5em; }

small {
  color: #e6e9f0; }

p {
  margin: 0 0 1.5em; }

a {
  color: #477dca;
  text-decoration: none; }
  a:hover {
    color: #2c5999; }
  a:active, a:focus {
    color: #2c5999;
    outline: none; }

hr {
  border-bottom: 1px solid #eff1f5;
  border-left: none;
  border-right: none;
  border-top: none;
  margin: 1.5em 0; }

img {
  margin: 0;
  max-width: 100%; }

blockquote {
  border-left: 4px solid #eff1f5;
  color: #595959;
  margin: 1.5em 0;
  padding-left: 0.75em; }
  blockquote small {
    margin-top: -20px;
    display: block; }

cite {
  color: #737373;
  font-style: italic; }
  cite:before {
    content: '\2014 \00A0'; }

.code, code, pre, .pre--scrollable {
  background: rgba(0, 0, 0, 0.05);
  border-radius: 4px; }

code {
  padding: 0 5px 2px;
  position: relative;
  top: -1px;
  color: #c7254e;
  font-size: 0.9em; }

pre, .pre--scrollable {
  overflow-x: auto;
  white-space: nowrap;
  padding: 7px 15px;
  color: rgba(0, 0, 0, 0.5);
  border: 1px solid rgba(0, 0, 0, 0.1); }

.pre--scrollable {
  max-height: 350px;
  overflow-y: auto; }

.panel__wrapper {
  display: -webkit-flex;
  display: -moz-flex;
  display: flex;
  overflow: auto; }

.panel__body {
  overflow-y: auto;
  height: 100%; }

.panel, .panel--menu, .panel--sidebar {
  -webkit-flex-basis: 100%;
  -moz-flex-basis: 100%;
  flex-basis: 100%;
  height: 100%;
  position: relative; }

.panel--menu {
  max-width: 80px; }

.panel--sidebar {
  -webkit-flex-basis: 250px;
  -moz-flex-basis: 250px;
  flex-basis: 250px;
  min-width: 300px; }

.panel__overlay--header, .panel__overlay--footer {
  position: absolute;
  width: 100%;
  z-index: 9999;
  min-height: 50px;
  background-color: rgba(255, 255, 255, 0.95); }

.panel__overlay--header {
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  box-shadow: 0 2px 4px -4px rgba(0, 0, 0, 0.4); }
  .panel__overlay--header ~ .panel__body {
    padding-top: 80px; }

.panel__overlay--footer {
  bottom: 0;
  box-shadow: 0 -2px 4px -4px rgba(0, 0, 0, 0.4);
  border-top: 1px solid rgba(0, 0, 0, 0.15); }
  .panel__overlay--footer ~ .panel__body {
    padding-bottom: 100px; }

.panel__overlay__title {
  text-align: center;
  color: #bdc3c7;
  font-size: 12px;
  text-transform: uppercase;
  width: 100%; }

.btn--focus,
.btn--active,
.btn.active, .btn--disabled,
.btn[disabled], .btn--primary,
.btn--danger, .btn--pill, .btn--facebook, .btn--twitter, .btn--google, .btn--linkedin, .btn--youtube,
.btn {
  display: -webkit-flex;
  display: -moz-flex;
  display: flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  background: none;
  outline: none;
  border: 1px solid #cfd9db;
  border-bottom-width: 2px;
  border-radius: 3px;
  min-height: 40px; }
  .btn--focus:hover,
  .btn--active:hover,
  .btn.active:hover, .btn--disabled:hover,
  .btn[disabled]:hover, .btn--primary:hover,
  .btn--danger:hover, .btn--pill:hover, .btn--facebook:hover, .btn--twitter:hover, .btn--google:hover, .btn--linkedin:hover, .btn--youtube:hover,
  .btn:hover {
    box-shadow: 0 0 3px #ecf0f1; }
  .btn--focus:active,
  .btn--active:active,
  .btn.active:active, .btn--disabled:active,
  .btn[disabled]:active, .btn--primary:active,
  .btn--danger:active, .btn--pill:active, .btn--facebook:active, .btn--twitter:active, .btn--google:active, .btn--linkedin:active, .btn--youtube:active,
  .btn:active {
    border-bottom-width: 1px;
    box-shadow: none; }

.btn__body {
  white-space: nowrap;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  text-align: center;
  padding: 0 15px;
  cursor: pointer; }

.btn__segment {
  display: -webkit-flex;
  display: -moz-flex;
  display: flex;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  -webkit-align-self: stretch;
  -moz-align-self: stretch;
  align-self: stretch;
  min-width: 40px;
  background-color: rgba(0, 0, 0, 0.02);
  border-right: 1px solid rgba(0, 0, 0, 0.1); }

.btn__icon {
  font-size: 30px;
  margin-left: 15px; }

.btn--focus,
.btn--active,
.btn.active {
  box-shadow: 0 0 3px #ecf0f1; }

.btn--active,
.btn.active {
  border-bottom-width: 1px;
  box-shadow: none; }
  .btn--active:hover,
  .btn.active:hover {
    box-shadow: none; }

.btn--disabled,
.btn[disabled] {
  background: rgba(0, 0, 0, 0.05);
  cursor: not-allowed;
  color: rgba(0, 0, 0, 0.5); }
  .btn--disabled:hover, .btn--disabled:active,
  .btn[disabled]:hover,
  .btn[disabled]:active {
    background: rgba(0, 0, 0, 0.05);
    box-shadow: none; }

.btn--primary,
.btn--danger {
  padding-top: 6px;
  padding-bottom: 6px;
  background: #3498db;
  color: rgba(255, 255, 255, 0.9); }
  .btn--primary:hover,
  .btn--danger:hover {
    background: #5faee3; }

.btn--danger {
  background: #e74c3c; }
  .btn--danger:hover {
    background: #ed7669; }

.btn--pill {
  border-radius: 50px; }

.btn--facebook {
  background-color: #2b3f87;
  color: #ecf0f1;
  font-weight: bold; }
  .btn--facebook:hover {
    background-color: #324ba3; }

.btn--facebook, .btn--twitter, .btn--google, .btn--linkedin, .btn--youtube {
  color: #ecf0f1;
  font-weight: bold; }

.btn--facebook {
  background-color: #3b5998; }
  .btn--facebook:hover {
    background-color: #2d4373; }

.btn--twitter {
  background-color: #55acee; }
  .btn--twitter:hover {
    background-color: #2795e9; }

.btn--google {
  background-color: #c43128; }
  .btn--google:hover {
    background-color: #d9362d; }

.btn--linkedin {
  background-color: #1a6ea7; }
  .btn--linkedin:hover {
    background-color: #1a83cc; }

.btn--youtube {
  background-color: #b50015; }
  .btn--youtube:hover {
    background-color: #c60019; }

.btn-group {
  display: -webkit-flex;
  display: -moz-flex;
  display: flex;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center; }
  .btn-group > .btn {
    border-radius: 0; }
    .btn-group > .btn:not(:first-of-type) {
      border-left: none;
      border-radius: 0; }
    .btn-group > .btn:first-of-type {
      border-radius: 4px 0 0 4px; }
    .btn-group > .btn:last-of-type {
      border-radius: 0 4px 4px 0; }

.list--horizontal {
  display: -webkit-flex;
  display: -moz-flex;
  display: flex;
  overflow-x: auto; }
  .list--horizontal .list__item {
    -webkit-flex-shrink: 0;
    -moz-flex-shrink: 0;
    flex-shrink: 0; }
  .list--horizontal.list-closed {
    height: 0; }

.list--vertical .list__item {
  white-space: nowrap;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis; }

.list__item {
  display: -webkit-flex;
  display: -moz-flex;
  display: flex;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  border-bottom: 1px solid #dfe1e8; }

.list__item__text {
  white-space: nowrap;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-flex-basis: 70%;
  -moz-flex-basis: 70%;
  flex-basis: 70%; }

.list__item__label {
  -webkit-flex-basis: 30%;
  -moz-flex-basis: 30%;
  flex-basis: 30%;
  color: #bdc3c7;
  font-size: 1.7ex;
  text-align: right; }

.list__item__icon {
  width: 25px;
  height: 25px;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  margin-right: 15px; }

.divider {
  padding: 5px 15px;
  background-color: #eeeeee;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1); }

.predict {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed; }

.predict__part {
  border: 1px solid #ecf0f1;
  padding: 1ex; }

.predict__main {
  width: 170px;
  border: 1px solid #ecf0f1;
  vertical-align: middle;
  background-color: #fbfcfc;
  font-weight: bold;
  text-align: center; }

.predict__number {
  font-size: 20px; }

.predict__text {
  color: #95a5a6;
  font-size: 14px; }

.filter--pass {
  background-color: rgba(26, 188, 156, 0.05); }

.filter--fail {
  background-color: rgba(231, 76, 60, 0.05); }

.filter--blue {
  background-color: rgba(52, 152, 219, 0.05); }

.comment-box__wrapper {
  display: -webkit-flex;
  display: -moz-flex;
  display: flex;
  width: 100%;
  width: 90%;
  margin: 20px auto; }
  .comment-box__wrapper > div:nth-child(2) {
    margin-left: 25px; }

.comment-box__avatar {
  min-width: 70px;
  height: 70px;
  background-color: #3498db; }

.comment-box {
  position: relative;
  z-index: 10;
  background-color: white;
  border: 1px solid #d8e0e8;
  -webkit-flex-basis: 100%;
  -moz-flex-basis: 100%;
  flex-basis: 100%;
  border-bottom-width: 2px; }

.comment-box__header--right, .comment-box__header--left,
.comment-box__header, .comment-box__footer {
  font-size: 12px;
  background-color: #f9f9f9; }

.comment-box__header--right, .comment-box__header--left,
.comment-box__header {
  border-bottom: 1px solid #d8e0e8;
  padding: 4px 10px 4px 10px;
  display: -webkit-flex;
  display: -moz-flex;
  display: flex;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  justify-content: space-between; }

.comment-box__header--right:before, .comment-box__header--left:before {
  content: "";
  position: absolute;
  z-index: -1;
  width: 15px;
  height: 15px;
  top: 7px;
  border: 1px solid #d8e0e8;
  background-color: #fdfdfd;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg); }

.comment-box__header--right:before {
  left: -7px; }

.comment-box__header--left:before {
  right: -7px; }

.comment-box__footer {
  border-top: 1px solid #d8e0e8;
  border-radius: 0 0 3px 3px;
  display: -webkit-flex;
  display: -moz-flex;
  display: flex;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center; }

.comment-box__footer__body {
  padding-left: 10px; }

.comment-box__body--input,
.comment-box__body {
  padding: 5px 10px 7px; }

.comment-box__body--input {
  padding: 7px 10px 5px;
  width: 100%;
  border: 0; }

.comment-box__submit {
  padding: 4px 10px;
  border-left: 1px solid #d8e0e8;
  background-color: #f6f6f6;
  cursor: pointer;
  font-weight: bold; }
  .comment-box__submit:hover {
    box-shadow: 0 1px 2px #e0e0e0; }
  .comment-box__submit:active {
    box-shadow: none;
    background-color: #f9f9f9; }

.comment-box__header__action {
  cursor: pointer; }

.comment-box__date,
.comment-box__date--clickable {
  color: #bdc3c7; }

.comment-box__date--clickable {
  cursor: pointer; }

.comment-box__tag {
  border: 2px solid #ecf0f1;
  border-radius: 50px;
  text-align: center;
  font-size: 14px;
  color: #bdc3c7;
  padding: 0 10px; }

.progress__wrapper {
  position: relative;
  width: 100%;
  height: 20px;
  border-radius: 3px;
  margin: 30px 0; }

.progress__well {
  display: -webkit-flex;
  display: -moz-flex;
  display: flex;
  background-color: #ecf0f1;
  height: 100%;
  box-shadow: inset 0 1px 3px -1px #bdc3c7;
  border-radius: 3px; }

.progress__mark {
  position: relative;
  -webkit-flex-basis: 100%;
  -moz-flex-basis: 100%;
  flex-basis: 100%;
  padding-left: 1px;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  border-left: 1px solid rgba(255, 255, 255, 0.1); }
  .progress__mark:first-child {
    border-left: 0; }
  .progress__mark:last-child {
    border-right: 0; }

.progress__mark__label {
  margin-top: 25px;
  font-size: 14px;
  color: #95a5a6;
  margin-left: -15px; }

.progress__bar {
  position: absolute;
  top: 0;
  width: 60%;
  height: 100%;
  background-color: #bdc3c7;
  border-radius: 3px; }

.progress__bar__dot {
  position: absolute;
  left: -15px;
  top: 50%;
  border-radius: 100px;
  margin-top: -16px;
  width: 30px;
  height: 150%;
  background-color: #fff;
  box-shadow: 0 1px 2px #bdc3c7; }
  .progress__bar__dot:hover {
    left: -18px;
    margin-top: -19px;
    width: 36px;
    height: 180%;
    background-color: #3498db;
    border: 5px solid #fff;
    box-shadow: 0 1px 3px #bdc3c7, 0 0 0 10px rgba(52, 152, 219, 0.2); }
    .progress__bar__dot:hover:after {
      width: 56px;
      height: 56px;
      content: " ";
      position: absolute;
      border-radius: 100px;
      top: -16px;
      left: -16px;
      border: 1px solid rgba(52, 152, 219, 0.4); }

/* =Kyoo Tooltip style
/* You may grab the code from here on
/* ----------------------------------- */
/* Tooltip wrapper -------*/
/* Add this class to HTML element you so desire Kyoo Tooltip to appear */
.kyoo-tooltip {
  position: relative; }

.kyoo-tooltip .kyootip {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  z-index: 99999;
  /* Somehow this prevents the tooltip from displaying */
  /* Not sure if it's Chrome or CodePen */
  /*-webkit-transition: .3s ease-in-out;
  -moz-transition: .3s ease-in-out;
  -o-transition: .3s ease-in-out;
  transition: 0.3s; */ }

.kyoo-tooltip:hover .kyootip {
  opacity: 1;
  visibility: visible; }

/* Kyoo Tooltip base style -------*/
.kyootip {
  background-color: #222;
  color: #fff;
  font: normal 12px/16px Arial;
  padding: 6px 10px;
  position: absolute;
  text-align: center;
  text-decoration: none;
  text-shadow: none;
  z-index: 4;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  -o-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2); }

.kyootip:after {
  content: " ";
  font-size: 0;
  line-height: 0;
  position: absolute;
  width: 0;
  z-index: 1; }

/* Top position style -------*/
.kyootip--top {
  bottom: 130%;
  left: 50%;
  margin-bottom: -10px;
  margin-left: -60px;
  width: 100px; }

/* Tooltip arrow */
.kyootip--top:after {
  border-top: 5px solid #222;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  bottom: -5px;
  left: 50%;
  margin-left: -5px; }

/* When hovered, move tooltip at the bottom */
.kyoo-tooltip:hover .kyootip--top {
  margin-bottom: 0; }

/* Right position style -------*/
.kyootip--right {
  left: 100%;
  margin-left: -5px;
  top: -5px;
  width: 100px; }

/* Tooltip arrow */
.kyootip--right:after {
  border-top: 5px solid transparent;
  border-right: 5px solid #222;
  border-bottom: 5px solid transparent;
  left: -5px;
  /* Offset value to pull to the left */
  margin-top: -5px;
  top: 50%; }

/* When hovered, move tooltip a bit to the right */
.kyoo-tooltip:hover .kyootip--right {
  margin-left: 10px; }

.kyootip--bottom {
  top: 130%;
  left: 50%;
  margin-top: -10px;
  margin-left: -60px;
  width: 100px; }

/* Tooltip arrow */
.kyootip--bottom:after {
  border-bottom: 5px solid #222;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  top: -5px;
  left: 50%;
  margin-left: -5px; }

/* When hovered, move tooltip at the bottom */
.kyoo-tooltip:hover .kyootip--bottom {
  margin-top: 0; }

/* Left position style -------*/
.kyootip--left {
  right: 100%;
  margin-right: -5px;
  top: -5px;
  width: 100px; }

/* Tooltip arrow */
.kyootip--left:after {
  border-top: 5px solid transparent;
  border-left: 5px solid #222;
  border-bottom: 5px solid transparent;
  margin-top: -5px;
  right: -5px;
  /* Offset value to pull to the right */
  top: 50%; }

/* When hovered, move tooltip a bit to the right */
.kyoo-tooltip:hover .kyootip--left {
  margin-right: 10px; }

.form--complex label {
  display: block;
  font-size: 13px;
  color: #bdc3c7; }
.form--complex input,
.form--complex textarea {
  width: 100%;
  margin-bottom: 15px; }

.form__input-wrapper {
  display: -webkit-flex;
  display: -moz-flex;
  display: flex;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center; }

.form__text-input,
.text-input,
.text-input--error {
  padding: 10px;
  border: 1px solid #cfd9db;
  border-bottom-width: 2px;
  border-radius: 3px;
  margin-right: 5px;
  outline: none; }
  .form__text-input:focus,
  .text-input:focus,
  .text-input--error:focus {
    background: #fbfcfc; }

.text-input--error {
  background-color: #feebea; }
  .text-input--error:focus {
    background-color: #fee0de; }

.panel--menu {
  background-color: #23313b; }

.panel--sidebar {
  border-right: 1px solid #dfe1e8; }

.app, .center-center,
.modal__wrapper {
  height: 100%;
  width: 100%; }

small {
  color: rgba(0, 0, 0, 0.5); }

.app {
  display: -webkit-flex;
  display: -moz-flex;
  display: flex;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  flex-direction: row; }

.center-center,
.modal__wrapper {
  display: -webkit-flex;
  display: -moz-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center; }

.logo {
  font-family: Baskerville;
  font-size: 30px;
  color: #bdc3c7;
  -webkit-animation: slideDown 1s;
  -moz-animation: slideDown 1s;
  animation: slideDown 1s; }

.variants.panel > .panel__body, .variants.panel--menu > .panel__body, .variants.panel--sidebar > .panel__body {
  padding-top: 107px; }

.panel--sidebar.variants {
  max-width: 350px;
  -webkit-flex-shrink: 0;
  -moz-flex-shrink: 0;
  flex-shrink: 0;
  background-color: #fcfcfc; }
  .panel--sidebar.variants > .panel__body {
    padding-top: 80px; }

.overlay__header--aside {
  font-size: 30px;
  font-weight: bold;
  color: #1abc9c; }

.box {
  padding-bottom: 50px;
  width: 80%;
  max-width: 960px;
  margin-left: auto;
  margin-right: auto; }

.list--horizontal {
  display: -webkit-flex;
  display: -moz-flex;
  display: flex;
  -webkit-justify-content: space-around;
  -moz-justify-content: space-around;
  justify-content: space-around;
  -webkit-align-items: flex-start;
  -moz-align-items: flex-start;
  align-items: flex-start; }

.predictor__text {
  text-align: center;
  margin-top: 15px;
  color: #95a5a6; }

.logo--omim {
  font-family: "Palatino Linotype";
  font-weight: bold;
  color: #2A6936;
  font-size: 25px; }

.link {
  text-decoration: none; }

.link__text {
  text-align: center;
  margin-top: 10px; }

.annotate-table, .gt-call-table {
  table-layout: auto; }

.family-member {
  display: inline-block;
  margin-left: 15px; }

.family-member-icon {
  width: 20px; }

.gt-call__allele, .gt-call__allele--full {
  width: 100px;
  margin-left: auto;
  margin-right: auto;
  height: 5px;
  border: 1px solid #bdc3c7; }
  .gt-call__allele:first-child, .gt-call__allele--full:first-child {
    margin-bottom: 5px; }

.gt-call__allele--full {
  background-color: #bdc3c7; }

.filter-modal {
  max-width: 350px; }

h4 {
  margin-bottom: 10px; }

.undef {
  background-color: rgba(0, 0, 0, 0.02); }
  .undef .predict__number {
    color: transparent; }

.list__item:hover {
  background-color: rgba(0, 0, 0, 0.03); }
.list__item:visited {
  color: #bdc3c7; }
.list__item.active {
  color: #1abc9c;
  font-weight: bold;
  background-color: #f5f7f7; }

.panel__overlay--header > .list--vertical > .list__item:hover {
  background-color: inherit; }

.list__column,
.list__column--slim,
.list__column--small {
  white-space: nowrap;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 15px;
  -webkit-flex-shrink: 0.8;
  -moz-flex-shrink: 0.8;
  flex-shrink: 0.8;
  position: relative; }
  .list__column.fixed,
  .fixed.list__column--slim,
  .fixed.list__column--small {
    -webkit-flex-basis: 100%;
    -moz-flex-basis: 100%;
    flex-basis: 100%;
    border-right: 1px solid #d8dae3; }
  .list__column.undef,
  .undef.list__column--slim,
  .undef.list__column--small {
    color: transparent; }
  .list__column:last-of-type,
  .list__column--slim:last-of-type,
  .list__column--small:last-of-type {
    border-right: 0; }

.list__column--slim {
  padding: 5px 10px; }

.list__column--small {
  -webkit-flex-basis: 100px;
  -moz-flex-basis: 100px;
  flex-basis: 100px;
  -webkit-flex-grow: 0.1;
  -moz-flex-grow: 0.1;
  flex-grow: 0.1;
  -webkit-flex-shrink: 1.5;
  -moz-flex-shrink: 1.5;
  flex-shrink: 1.5;
  min-width: 100px; }

.hgnc-symbol {
  white-space: nowrap;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100px; }

.menu__item {
  position: relative;
  display: block;
  padding: 15px;
  cursor: pointer;
  color: #6ba0d3;
  border-width: 1px;
  border-top-color: #273742;
  border-bottom-color: #12191e;
  border-top-style: solid;
  border-bottom-style: solid; }
  .menu__item:hover {
    color: #74b0e9;
    background-color: rgba(255, 255, 255, 0.1); }
    .menu__item:hover .menu__item__label {
      display: block; }
  .menu__item:active {
    position: relative;
    top: 1px;
    color: #6193c3; }

.menu__item__icon {
  width: 40px;
  height: 40px;
  margin: 0 auto; }
  .menu__item__icon img {
    width: 100%;
    height: 100%; }

.menu__item__label {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 10;
  display: none;
  background: #000;
  padding: 0 10px 2px;
  margin-top: 5px;
  font-size: 13px;
  text-align: center; }

.issue-sidebar {
  min-width: 400px; }

.issue-title {
  font-size: 25px;
  margin-bottom: 10px;
  color: #2980b9; }

.issue-form {
  display: -webkit-flex;
  display: -moz-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  flex-direction: column;
  width: 350px; }
  .issue-form h4 {
    font-weight: 200;
    color: #bbb;
    margin-bottom: 30px; }
  .issue-form input[type=text],
  .issue-form textarea {
    width: 100%;
    margin-bottom: 30px;
    padding: 10px; }
  .issue-form input[type=text] {
    font-size: 1.3em; }
  .issue-form textarea {
    min-height: 250px; }
  .issue-form .btn {
    font-size: 20px;
    padding: 10px; }
    .issue-form .btn:active {
      margin-bottom: 1px; }

.family-id {
  font-size: 20px; }

.external-links .link {
  padding: 10px 25px; }
  .external-links .link:hover {
    background-color: rgba(0, 0, 0, 0.015);
    padding: 9px 24px;
    border-radius: 10px;
    border: 1px solid #eff1f5; }

.rank-score {
  font-size: 40px;
  color: #16a085;
  height: 50px;
  display: -webkit-flex;
  display: -moz-flex;
  display: flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center; }

.family-header ~ .panel__body {
  padding-top: 120px; }

.family-id {
  font-size: 30px;
  color: #16a085; }

.variant-header ~ .panel__body {
  padding-top: 130px; }

.v-panel__wrapper {
  display: -webkit-flex;
  display: -moz-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  flex-direction: column;
  position: relative; }

.v-panel .list__column {
  min-width: 200px; }

.filter-panel {
  -webkit-flex-basis: 450px;
  -moz-flex-basis: 450px;
  flex-basis: 450px;
  -webkit-flex-shrink: 0;
  -moz-flex-shrink: 0;
  flex-shrink: 0;
  height: 450px;
  border-bottom: 1px solid #d8dae3;
  overflow: hidden;
  background-color: #f8f9fa; }
  .filter-panel input[type=text] {
    width: 150px; }
  .filter-panel .panel, .filter-panel .panel--menu, .filter-panel .panel--sidebar {
    border-right: 1px solid #ecf0f1; }
    .filter-panel .panel > .panel__overlay--header ~ .panel__body, .filter-panel .panel--menu > .panel__overlay--header ~ .panel__body, .filter-panel .panel--sidebar > .panel__overlay--header ~ .panel__body {
      padding-top: 50px; }
  .filter-panel .panel__wrapper {
    overflow: inherit; }

h5 {
  margin-bottom: 20px; }

.scrollable {
  text-overflow: clip;
  overflow-x: auto !important; }

.filter-footer {
  padding: 10px; }

.variant--pass {
  background-color: #f6fdf9; }

.variant--fail {
  background-color: white; }

.inheritance-model {
  border-right: 2px solid #bdc3c7;
  padding: 5px 5px 5px 0; }

.fixed-tooltip {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  background-color: #f5f7f7;
  padding: 15px;
  border-top: 1px solid rgba(0, 0, 0, 0.15);
  box-shadow: 0 -2px 4px -4px rgba(0, 0, 0, 0.4); }
  .fixed-tooltip .predict__part {
    border-color: #bdc3c7; }

.filter-panel .list__column {
  padding: 5px 15px 5px; }

.toggle-slider__input {
  margin-right: 10px; }

.family-comments {
  max-width: 960px;
  height: auto;
  margin-right: auto;
  margin-left: auto;
  border-top: 1px solid #ecf0f1; }
  .family-comments > .panel:nth-child(n+2), .family-comments > .panel--menu:nth-child(n+2), .family-comments > .panel--sidebar:nth-child(n+2) {
    border-left: 1px solid #ecf0f1; }
  .family-comments > .panel .panel__body, .family-comments > .panel--menu .panel__body, .family-comments > .panel--sidebar .panel__body {
    padding-top: 50px; }

.family-submit-comment {
  height: auto; }

.do-wrap > .list__item {
  white-space: normal; }

.no-comments {
  height: 100px; }

.rank-score-column {
  border-right: 1px solid #d8dae3 !important;
  text-align: center;
  font-size: 20px; }
  .rank-score-column:visited {
    color: #bdc3c7; }
  .rank-score-column.active {
    background-color: #3498db;
    color: #fff; }

.hide-variant {
  padding: 5px; }

.pop-over {
  cursor: help; }

.modal {
  min-width: 550px;
  margin: 10px auto;
  background-color: #fff;
  padding: 30px;
  border-radius: 2px; }

.modal__overlay {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  background-color: rgba(13, 0, 13, 0.7); }

.raw-pedigree > table {
  border: 1px solid #ecf0f1; }
  .raw-pedigree > table td, .raw-pedigree > table th {
    border: 1px solid #ecf0f1;
    padding: 1ex; }

.notification, .notification--bubble {
  background: #f29f97;
  color: #fff;
  padding: 0 3px;
  border-radius: 3px;
  font-size: 12px;
  width: 25px;
  text-align: center; }

.notification--bubble {
  position: absolute;
  left: 10px;
  top: 20px;
  border-radius: 20px;
  background-color: #16a085;
  color: transparent;
  width: 15px;
  height: 15px;
  box-shadow: 0px 0px 5px #1abc9c; }
  .notification--bubble.LOW {
    background-color: #e8bd0e;
    box-shadow: 0px 0px 5px #f1c40f; }
  .notification--bubble.MIDDLE {
    background-color: #e67e22;
    box-shadow: 0px 0px 5px #f39c12; }
  .notification--bubble.TOP {
    background-color: #c0392b;
    box-shadow: 0px 0px 5px #e74c3c; }

.pace .pace-progress {
  background: #85d800;
  position: fixed;
  z-index: 2000;
  top: 0;
  left: 0;
  height: 2px;
  -webkit-transition: width 1s;
  -moz-transition: width 1s;
  -o-transition: width 1s;
  transition: width 1s; }

.pace-inactive {
  display: none; }

.column__wrapper {
  display: -webkit-flex;
  display: -moz-flex;
  display: flex;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  justify-content: space-between; }

.float-left {
  float: left; }

.float-right {
  float: right; }

.panel__menu--footer {
  position: absolute;
  left: -62px;
  bottom: 115px;
  color: #CFCFCF;
  width: 200px;
  text-align: left;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg); }

.space-between {
  width: 100%;
  display: -webkit-flex;
  display: -moz-flex;
  display: flex;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center; }

/*# sourceMappingURL=41333e40-400d-45bd-9172-1aaaa33e2f64.scss.map */