body,
html {
  color: $base-font-color;
  font-family: $base-font-family;
  font-size: $base-font-size;
  //@include font-smoothing(antialiased);
}

h1, h2, h3, h4, h5, h6 {
  text-rendering: optimizeLegibility; // Fix character spacing for headings
  margin: 0;
  line-height: 1.25em;
}

h1 {
  font-size: $base-font-size * 3;
}

h2 {
  font-size: $base-font-size * 2.75;
}

h3 {
  font-size: $base-font-size * 2.5;
}

h4 {
  font-size: $base-font-size * 2.25;
}

h5 {
  font-size: $base-font-size * 2;
}

h6 {
  font-size: $base-font-size * 1.5;
}

// Greyed out and smaller than parent
// - works well as a subtitle
small {
  color: $dark-gray;
}

// Add margin to the bottom only
p {
  margin: 0 0 ($base-line-height);
}

// Default link styles
a {
  color: $base-link-color;
  text-decoration: none;  // Reset

  &:hover {
    color: $hover-link-color;
  }

  &:active, &:focus {
    color: $hover-link-color;
    outline: none;
  }
}

// Horizontal line divider
hr {
  border-bottom: 1px solid $base-border-color;
  border-left: none;
  border-right: none;
  border-top: none;
  margin: $base-line-height 0;
}

img {
  margin: 0;
  max-width: 100%;
}

blockquote {
  border-left: 4px solid $base-border-color;
  color: lighten($base-font-color, 15);
  margin: $base-line-height 0;
  padding-left: $base-line-height / 2;

  small {
    margin-top: -20px;
    display: block;
  }
}

cite {
  color: lighten($base-font-color, 25);
  font-style: italic;

  &:before {
    content: '\2014 \00A0';
  }
}

.code {
  // Style
  background: rgba(#000, 0.05);
  border-radius: 4px;
}

code {
  @extend .code;

  // Layout
  padding: 0 5px 2px;
  position: relative;
  top: -1px;

  // Style
  color: #c7254e;
  font-size: 0.9em;
}

pre {
  @extend .code;
  @extend %ios-scrolling;

  // Required
  overflow-x: auto;
  white-space: nowrap;

  // Layout
  padding: 7px 15px;

  // Style
  color: rgba(#000, 0.5);
  border: 1px solid rgba(#000, 0.1);
}

.pre--scrollable {
  @extend pre;

  // Required
  max-height: 350px;
  overflow-y: auto;
}

// Alignment
.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}
