{% extends 'layouts/base.html' %}

{% set page_title = 'Connect' %}

{% block css_style %}
  <link rel="stylesheet" href="{{ url_for('static', filename='frontend.css') }}">
{% endblock %}

{% block body %}

  <div class="wrapper">
    <div class="main">
      <a class="link" href="{{ url_for('frontend.login') }}">
        Connect with Google
      </a>
    </div>

    <div class="footer">
      <div class="logo"><img src="{{ url_for('static', filename='img/logo_scilifelab.png') }}" width="229" alt=""></div>

      <div class="logo"><img src="{{ url_for('static', filename='img/logo_karolinska.png') }}" width="250" alt=""></div>
    </div>
  </div>

{% endblock %}

{% block js_btm %}
  <script>
    var res = navigator.sayswho.split(' '),
        browser = res[0],
        version = parseInt(res[1]);

    if (browser == 'MSIE' && version < 9) {
      window.location.href = "{{ url_for('frontend.unsupported_browser') }}"
    }
  </script>
{% endblock %}
