{% extends 'layouts/base.html' %}

{% set page_title = 'Unsupported browser' %}

<!-- Suppress browser redirect -->
{% block redirect_browser %}{% endblock %}

{% block body %}

  <div class="warning">
    <div class="content">
      <p class="warning-text">You are using an old, unsupported browser (<span class="warning-browser"></span>)</p>
      <p>Please upgrade to <a class="green" href="https://www.google.com/intl/en/chrome/browser/">Chrome</a>, <a class="green" href="http://www.mozilla.org/en-US/firefox/new/#">Firefox</a>, or <a class="green" href="http://support.apple.com/downloads/#safari">Safari</a>.</p>

      <div class="logo chrome">
        <img src="{{ url_for('static' filename='img/chrome.png') }}">
      </div>
    </div>
  </div>

{% endblock %}

{% block js_btm %}
  <script>
    $('.warning-browser').html(navigator.sayswho);
  </script>
{% endblock %}
