{{! Main template and sidebar-menu }}
<div class="panel__wrapper">

  <div class="panel--menu">
    {{#link-to 'index' classNames='menu__item'}}
      <div class="menu__item__icon"><img src="img/icon_8199.svg"></div>
      <div class="menu__item__label">Families</div>
    {{/link-to}}
    {{#link-to 'dashboard' classNames='menu__item'}}
      <div class="menu__item__icon"><img src="img/icon_19741.svg"></div>
      <div class="menu__item__label">Dashboard</div>
    {{/link-to}}
    {{#link-to 'issue' classNames='menu__item'}}
      <div class="menu__item__icon"><img src="img/icon_4240.svg"></div>
      <div class="menu__item__label">Submit issue</div>
    {{/link-to}}
    <a href="/logout" class="menu__item">
      <div class="menu__item__icon"><img src="img/icon_4930.svg"></div>
      <div class="menu__item__label">Logout</div>
    </a>
  </div>

  {{outlet}}

</div>
