<div class="panel variant">

  <div class="panel__overlay--header">
    <div class="panel__overlay__title">Dashboard</div>
  </div>

  <div class="panel__body">

    <div class="box">
      <h3>Family 1</h3>

      <div class="progress__wrapper">
        <div class="progress__bar"></div>

        <div class="progress__well">
          <div class="progress__mark">
            <div class="progress__bar__dot"></div>
            <div class="progress__mark__label">Sequenced</div>
          </div>
          <div class="progress__mark">
            <div class="progress__bar__dot"></div>
            <div class="progress__mark__label">Candidate gene</div>
          </div>
          <div class="progress__mark">
            <div class="progress__bar__dot"></div>
            <div class="progress__mark__label">Sanger ordered</div>
          </div>
          <div class="progress__mark">
            <div class="progress__bar__dot"></div>
            <div class="progress__mark__label">Solved</div>
          </div>
        </div>
      </div>        
    </div>

  </div>
</div>
