<div {{bind-attr class="familyLoaded:panel--sidebar:panel :families"}}>

  <div class="panel__overlay--header">
    <div class="panel__overlay__title">Families</div>
    
    <div class="panel__overlay__column">ID</div>
    {{#unless familyLoaded}}
    <div class="panel__overlay__column">NGS update</div>
    {{/unless}}
  </div>

  <div class="panel__body">
    <div class="list--vertical">
      {{#each family in model}}
        {{#link-to "family" family classNames="list__item"}}

          <div class="list__item__content">
            <div class="list__item__content__text">
              {{#unless familyLoaded}}
                Family
              {{/unless}}
              {{family.id}}
            </div>

            {{#unless familyLoaded}}
            <div class="list__item__content__label">
              {{fromNow family.analyzedDate}}
            </div>
            {{/unless}}
          </div>

        {{/link-to}}
      {{/each}}
    </div>
  </div>

</div>

{{outlet}}
