<main class="a-layout__panel--full is-scrollable">
  <div class="text-box">
    <h2><span class="icon-alert mr"></span>Multiple institute</h2>
    <p>Each user can now belong to multiple institutes. You switch between active institutes by clicking the {{#link-to "index"}}Institutes{{/link-to}} link in the navigation bar.</p>

    <h2><span class="icon-alert mr"></span>Family vs. case</h2>
    <p>I'm trying out a new vocabulary for refering to a "family". Since many "families" will only contain <i>one</i> individual and to make Scout less specific to CMMS, I though case would be more appropriate. <a href="mailto:robin.andeer@scilifelab.se">What do you think?</a></p>

    <h2><span class="icon-alert mr"></span>Selecting a case</h2>
    <p>Cases are ordered by the last MIP update. This generally means that newer families will be displayed on top of the list. If you want to go to a specific case, type in the ID in the input box and hit enter.</p>

    <h2><span class="icon-alert mr"></span>Commenting in the log</h2>
    <p>The log has been generalized to separate "clinical" and "research" comments. By default, you will see all activity in the same view. To filter on specifically e.g. "action" comments, select "action" from the "Select activity type" dropdown.</p>

    <h2><span class="icon-alert mr"></span>Archive/hide cases and variants</h2>
    <p>You can archive cases and families by clicking associated "archive" button. To reverse this action, click your name (top right) and select "settings". Here you can un-hide all or any specific item you would like to bring back. N.B. you might need to <strong>refresh the page</strong> to see the change take effect.</p>

    <h2><span class="icon-alert mr"></span>Compounds popup</h2>
    <p>In the list of variants, the compounds popup now includes the GT call for the original variant. Please report if you notice anything suspicious in connecting GT calls to samples.</p>

    <h2><span class="icon-alert mr"></span>Using the filters</h2>
    <p>After filling in the desired filters, click "Update variants" to filter the list of variants. The <strong>filters are reset</strong> if you switch from one case to another.</p>

    <h2><span class="icon-alert mr"></span>Variant details</h2>
    <p>The GT calls are now in the same order as in the compound list. I've also added the current variant to the list of compounds.</p>

    <p>The list of other families with identical variants can be found easily on the variant page.</p>

    <p>You can now add a comment in the case log from the variant page.</p>

    <h2><span class="icon-alert mr"></span>Sanger emails</h2>
    <p>Both the log and variant comments update when submitting a variant for Sanger.</p>
  </div>
</main>
